nav {
    box-sizing: border-box;
    align-items: center;
    background-color: #BFCFBB;
    padding: 5px;
    display: flex;
    box-shadow: 0 0 12px -2px black;
    position: sticky;
    left: 0;
    right: 0;
    justify-content: space-between;
    color: black;
    display: flex;
    height: 80px;
  }
body {
  background-color: beige;
}
main{
  background-color: bisque;
  min-height: auto;
}
img{
  margin-left: 100px;
  margin-right: 100px;
    width: 15%;
}
.gamer{
  text-align: center;
  font-size: 35px;
  position: absolute;
  top: 80px;
  left: 0;
  width: 1300px;
  height: 100px;
}

.firstxt{
  text-align: center;
  font-size: 25px;
  position: absolute;
  top: 120px;
  left: 405px;
  bottom: 50px
}
.oogway{
  text-align: center;
  font-size: 30px;
  position: absolute;
  top: 220px;
  right: 700px;
}